@model WFJ.Models.ManageDocumentFilterViewModel
<div>
    @*<div class="form-group">
            <label>State</label>
            <select id="inputState" class="form-control">
                <option selected="">All</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>All States</option>
            </select>
        </div>*@
    <span id="errormessage"></span>
    <div class="form-group">
        <label>Client</label>
        <select id="ddlDocumentClient" name="ddlDocumentClient" class="form-control">
            <option selected="" value="-1">All</option>
            @{
                foreach (var item in Model.client)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Document Type</label>
        <select id="ddlDocumentType" class="form-control">
            <option selected="" value="-1">All</option>
            @foreach (var item in Model.documentType)
            {
                <option value="@item.Value">@item.Text</option>
            }
            @*<option>Form</option>
                <option>Letter</option>
                <option>Pleading</option>*@
        </select>
    </div>

    <div class="form-group">
        <label>Project Type</label>
        <select id="ddlProjectType" class="form-control">
            <option selected="" value="-1">All</option>
            <option>Private</option>
            <option>Public</option>
        </select>
    </div>

    <div class="form-group">
        <label for="inputDate">Keyword Search</label>
        <input type="text" id="txtSearchKeyword" class="form-control" />
    </div>

    <div class="form-group">
        <label>Practice Area</label>
        <select id="ddlPracticeArea" class="form-control">
            <option selected="" value="-1">All</option>
            @{
                foreach (var item in Model.practiceArea)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Category (WFJ Use)</label>
        <select id="ddlCategory" class="form-control">
            <option selected="" value="-1">All</option>
            @{
                foreach (var item in Model.categoryModels)
                {
                    if (item.CategoryName != null)
                    {
                        <option value="@item.CategoryID">@item.PracticeAreaName ---> @item.CategoryName</option>
                    }
                }
            }
            @*<option>
                    Commercial Litigation ---> Category Name 1
                </option>
                <option>
                    Commercial Litigation ---> Category Name 2
                </option>*@
        </select>
    </div>

    <div class="form-group">
        <label>Form Type</label>
        <select id="ddlFormType" class="form-control">
            <option selected="" value="-1">All</option>
            @{
                foreach (var item in Model.formTypeModels)
                {
                    <option value="@item.FormTypeID">@item.FormType1</option>
                }
            }
            @*<option>BUSINESS ENTITIES - Business Plans</option>
                <option>
                    BUSINESS ENTITIES - Business Purchase
                </option>*@
        </select>
    </div>

    <div class="clearfix">
        <span id="AddDocMsg"></span>
        <br/>
        <button type="button" onclick="SearchByDocumentFilters();"
                class="btn btn-primary float-right ml-2 mb-2 document-search-btn">
            Search
        </button>
        @*<button type="button" class="btn btn-primary float-right document-search-btn" data-toggle="modal" data-target="#newdocument">*@
        <button type="button" class="btn btn-primary float-right document-search-btn" data-toggle="modal" data-target="" onclick="AddDocument();">
            Enter New Document
        </button>
    </div>

    <!-- Enter new document Modal -->

    <div class="modal fade" id="newdocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add Document
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Home/_addEditDocument.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/manageDocument.js"></script>*@

<script>
    function addDocumentSucess(response) {
        if (response.Success) {
            $('#newdocument').modal('hide');
            $('#AddDocMsg').text("");
            $('#AddDocMsg').text(response.Message).css("color", "red").show().delay(3000).fadeOut();
        }
        else {
             $("#ErrorMessages").html("");
            if (response.ErrorMessages) {
                if (response.ErrorMessages.length > 0) {
                    var str = "<ul>"
                    var i;
                    for (i = 0; i < response.ErrorMessages.length; i++) {
                        str = str + "<li>" + response.ErrorMessages[i] + "</li>"
                    }
                    str = str + "</ul>"
                    $("#ErrorMessages").html(str).show().delay(3000).fadeOut();;
                }
            }
            $('#AddEditDocErrorMsg').text("");
            $('#AddEditDocErrorMsg').text(response.Message).css("color", "red").show().delay(3000).fadeOut();
        }
    }
</script>

