@model WFJ.Models.ManagerUserFilterViewModel
<form>
    <span id="errormessage"></span>
    <div class="form-group">
        <label for="inputState">Client</label>
        <select id="ddlClient" name="ddlClient" class="form-control">
            <option selected="" value="-1">All</option>
            @{
                foreach (var item in Model.Clients)
                {
                    <option value="@item.ID">@item.ClientName</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="active">Active</label>
        <select id="ddlActive" name="ddlActive" class="form-control">
            <option selected="" value="-1">All</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputDate">Name</label>
        <input type="text" id="txtname" name="txtname" class="form-control" />
    </div>

    <div class="clearfix">
        <button type="button" onclick="SearchBy();"
                class="btn btn-primary float-right ml-2 mb-2 document-search-btn">
            Search
        </button>
        <button type="button"
                class="btn btn-primary float-right document-search-btn"
                data-toggle="modal"
                data-target="#newdocument">
            Add a New User
        </button>
    </div>

    <!-- Enter new document Modal -->
    <div class="modal fade"
         id="newdocument"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add User
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputDate">UserID</label>
                                        <input type="text"
                                               class="form-control" />
                                    </div>
                                </div>*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">Password</label>
                                    <input type="password"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">First Name</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">Last Name</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">Telephone</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">Address1</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">Address2</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">City</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">State</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">Postal Code</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputState">Type</label>
                                    @Html.DropDownListFor(m=>m.UserType, null,"Select",new { @class="form-control" })
                                    @*<select id="inputState"
                                                class="form-control">
                                            <option selected="">Select</option>
                                            <option>System Administrator</option>
                                            <option>Prepaid Legal</option>
                                        </select>*@
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputState">Active</label>
                                    <select id="inputState"
                                            class="form-control">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputState">Dashboard User</label>
                                    <select id="inputState"
                                            class="form-control">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputState">Attorney</label>
                                    <select id="inputState"
                                            class="form-control">
                                        <option>N/A</option>
                                    </select>
                                </div>
                            </div>

                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputState">Show HR Section</label>
                                        <select id="inputState"
                                                class="form-control">
                                            <option>No</option>
                                            <option>Yes</option>
                                        </select>
                                    </div>
                                </div>*@

                            @*<div class="col-md-12">
                                    <div class="form-group">
                                        <label for="inputState">Client</label>
                                        <select id="inputState"
                                                class="form-control">
                                            <option>Select</option>
                                            <option>ABF Printing</option>
                                            <option>
                                                Action Advertising and Flags
                                            </option>
                                            <option>Ad Specialties by ken</option>
                                        </select>
                                    </div>
                                </div>*@

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">EMail</label>
                                    <input type="text"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group custom-multiselect-scroll">
                                    <label for="inputState">Region</label>
                                    @Html.DropDownListFor(m => m.Regions, null, new {@id="boot-multiselect", @multiple ="multiple",@class="multiselect"})
                                    @*<select id="boot-multiselect"
                                            multiple="multiple">
                                        <option value="jQuery">
                                            jQuery Tutorials
                                        </option>
                                        <option value="Bootstrap">
                                            Bootstrap Framework
                                        </option>
                                        <option value="HTML">HTML</option>
                                        <option value="CSS">CSS</option>
                                        <option value="Angular">
                                            Angular
                                        </option>
                                        <option value="Angular">
                                            javascript
                                        </option>
                                        <option value="Java">Java</option>
                                        <option value="Python">Python</option>
                                        <option value="MySQL">MySQL</option>
                                        <option value="Oracle">Oracle</option>
                                    </select>*@
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group custom-multiselect-scroll">
                                    <label for="inputState">Form(s)</label>
                                    @Html.DropDownListFor(m => m.Forms, null, new { @id = "boot-multiselect1", @multiple = "multiple", @class = "multiselect" })
                                    @*<select id="boot-multiselect1" multiple="multiple" class="multiselect">
                                        <option value="jQuery">
                                            jQuery Tutorials
                                        </option>
                                        <option value="Bootstrap">
                                            Bootstrap Framework
                                        </option>
                                        <option value="HTML">HTML</option>
                                        <option value="CSS">CSS</option>
                                        <option value="Angular">
                                            Angular
                                        </option>
                                        <option value="Angular">
                                            javascript
                                        </option>
                                        <option value="Java">Java</option>
                                        <option value="Python">Python</option>
                                        <option value="MySQL">MySQL</option>
                                        <option value="Oracle">Oracle</option>
                                    </select>*@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*<script>

            function SearchBy() {

                var clientid = $('#ddlClient option:selected').val();
                var activeid = $('#ddlActive option:selected').val();
                var name = $('#txtname').val();
                //if (clientid ==-1) {
                //    alert('error');
                //    $('#errormessage').text('Please Select atleast one value for searching');

                //}
                //else {
                jQuery.ajax({
                    type: "POST",
                    url: "/Home/ManageUsers",
                    data: {
                        clientId: clientid,
                        active: activeid,
                        name: name
                    },
                    beforeSend: function (xhr) {
                        if (clientid == -1 && activeid == -1 && name == "") {
                            alert('error');
                            $('#errormessage').text('Please Select atleast one value for searching').css("color", "red");
                            xhr.abort();
                            return false;
                        }
                    },
                    success: function () {
                        $('#errormessage').text('');

                    }
                });

                //}

            }

        </script>*@
</form>
