@using WFJ.Models;
@model RequestDocumentViewModel

@{
    var requestDocumentList = Model.RequestDocumentDetails;
    foreach (var requestDocument in requestDocumentList)
    {
        <div class="col-md-2">
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" checked="checked" id="sendRequestDocumentNotice">
                    <label class="custom-control-label" for="customCheck3"></label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.DropDownListFor(x => requestDocument.DocumentTypeId, new SelectList(Model.DocumentType, "Value", "Text"), "Select", new { @Class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p class="for-bold">@requestDocument.FileName</p>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary document-search-btn" onclick="removeRequestDocument('@requestDocument.RequestDocumentId','@requestDocument.RequestId','@requestDocument.FileName')">
                Remove
            </button>
        </div>


    }
}
