@model WFJ.Models.ClientDashboardViewModel
<style>
        .fixed-height-chart{
        height: 200px;
        width: 400px;
    }
</style>

<div class="row">
    <div class="col-12 align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto">
                <h4 class="mb-0">
                    Welcome Test Admin to the WFJ Client Extranet
                </h4>
                <p>
                    Click on the menu above to view Documents, Files and Manage
                    Your Account.
                </p>
            </div>
            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-12 mt-3">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-4 mt-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="height-235">
                                <canvas id="chartjs-other-pie"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-8">
                <div class="row">
                    <div class="col-12 col-sm-6 mt-3">
                        <div class="card">
                            <div class="card-body fixed-height-chart">
                                <canvas id="placement-data-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <div class="card">
                            <div class="card-body fixed-height-chart">
                                <canvas id="dollars-placed-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <div class="card">
                            <div class="card-body fixed-height-chart">
                                <canvas id="placement-collected-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mt-3">
                        <div class="card">
                            <div class="card-body fixed-height-chart">
                                <canvas id="dollars-collected-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-4 mt-3">
        <div class="card">
            <div class="card-header justify-content-between align-items-center">
                <h6 class="card-title">
                    Top 20 Accounts (Recent View?)
                </h6>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table font-w-600 mb-0" id="final-demand-required">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var request in Model.RecentAccountView)
                        {
                            <tr class="zoom">
                                <td>@request.CustomerName</td>
                                <td>@request.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12 col-xl-8 mt-3">
        <div class="card">
            <div class="card-header justify-content-between align-items-center">
                <h6 class="card-title">Recent Payment/Remittance</h6>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table font-w-600 mb-0">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Payment Date</th>
                            <th>Payment Amount</th>
                            <th>WFJ Fees</th>
                            <th>Remit Date</th>
                            <th>Check Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var request in Model.RecentPayements)
                        {
                            <tr class="zoom">
                                <td>@request.AccountName</td>
                                <td>@request.PaymentDate</td>
                                <td>@request.PaymentAmount</td>
                                <td>@request.WFJFees</td>
                                <td>@request.InvoicDate</td>
                                <td>@request.InvoiceNumber</td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/vendors/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript" src="~/Scripts/ClientDashboard.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bindLineChart();
        bindPieChart();
    });
</script>