@model WFJ.Models.ClientDashboardViewModel
<style>
    .fixed-height-chart {
        height: 200px;
        width: 400px;
    }

    .no-chart-data {
        text-align: center;
        font-size: 14px;
    }
</style>
<div class="row">
    <div class="col-12 align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto">
                <h4 class="mb-0">
                    Welcome Test Admin to the WFJ Client Extranet
                </h4>
                <p>
                    Click on the menu above to view Documents, Files and Manage
                    Your Account.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-12 mt-3">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-4 mt-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="outer-loader"><div class="loader-custom"></div></div>
                            
                            <div class="height-235">
                                <canvas id="chartjs-other-pie"></canvas>
                                <div class="no-chart-data"><span id="noChartData"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-8">
                <div class="row">
                    <div class="col-12 col-sm-12 mt-3">
                        <div class="card">
                            <div class="card-body cus-canvas">
                                <div class="outer-loader1">
                                    <div class="loader-custom"></div>
                                </div>
                                <canvas id="placement-collected-data-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 mt-3">
                <div class="card">
                    <div class="card-body cus-canvas">
                        <div class="outer-loader2">
                            <div class="loader-custom"></div>
                        </div>
                        <canvas id="dollars-placed-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <div class="card">
                    <div class="card-body cus-canvas">
                        <div class="outer-loader3">
                            <div class="loader-custom"></div>
                        </div>
                        <canvas id="dollars-collected-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-4 mt-3">
        <div class="card">
            <div class="card-header justify-content-between align-items-center">
                <h6 class="card-title">
                    Top 20 Accounts
                </h6>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table font-w-600 mb-0" id="final-demand-required">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var request in Model.RecentAccountView)
                        {
                            <tr class="zoom">
                                <td>@request.CustomerName</td>
                                <td>@request.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12 col-xl-8 mt-3">
        <div class="custom-tabs">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active bg-white mr-3" id="recent-payment-tab" data-toggle="pill" href="#recent-payment" role="tab" aria-controls="recent-payment" aria-selected="true">Recent Payment</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link bg-white mr-3" id="remittance-tab" data-toggle="pill" href="#remittance" role="tab" aria-controls="remittance" aria-selected="false">Remittance</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="recent-payment" role="tabpanel" aria-labelledby="recent-payment-tab">

                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive div-scroll">
                                <table class="table font-w-600 mb-0">
                                    <thead>
                                        <tr>
                                            <th>Account Name</th>
                                            <th>Payment Date</th>
                                            <th>Payment Amount</th>
                                            <th>WFJ Fees</th>
                                            <th>Remit Date</th>
                                            <th>Check Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var request in Model.ApprovedPayements)
                                        {
                                            <tr class="zoom">
                                                <td>@request.ClientName</td>
                                                <td>@request.PaymentDate</td>
                                                <td>@request.PaymentAmount</td>
                                                <td>@request.WFJFees</td>
                                                <td>@request.InvoicDate</td>
                                                <td>@request.InvoiceNumber</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="remittance" role="tabpanel" aria-labelledby="remittance-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive div-scroll">
                                <table class="table font-w-600 mb-0">
                                    <thead>
                                        <tr>
                                            <th>Account Name</th>
                                            <th>Payment Date</th>
                                            <th>Payment Amount</th>
                                            <th>WFJ Fees</th>
                                            <th>Remit Date</th>
                                            <th>Check Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var request in Model.RemittancePayements)
                                        {
                                            <tr class="zoom">
                                                <td>@request.ClientName</td>
                                                <td>@request.PaymentDate</td>
                                                <td>@request.PaymentAmount</td>
                                                <td>@request.WFJFees</td>
                                                <td>@request.InvoicDate</td>
                                                <td>@request.InvoiceNumber</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-4 mt-3">
        <div class="card">
            <div class="card-header justify-content-between align-items-center">
                <h6 class="card-title">
                    Recent Activities
                </h6>
            </div>
            <div class="card-body table-responsive p-0 div-scroll">
                <table class="table font-w-600 mb-0" id="recent-activities">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var request in Model.RecentActivityView)
                        {
                            <tr class="zoom">
                                <td>@request.CustomerName</td>
                                <td>@request.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="~/vendors/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript" src="~/Scripts/ClientDashboard.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bindLineChart();
        bindPieChart();
    });
</script>